body {
  font-family: Arial, sans-serif;
  background: #f6f7f8;
  margin: 0;
  color: #000;
}

body.dark {
  background: #121212;
  color: #fff;
}

header {
  background: #ffffff;
  padding: 20px;
  text-align: center;
}

body.dark header {
  background: #1e1e1e;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

body.dark .card {
  background: #2a2a2a;
}

#login-screen {
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#login-error {
  color: red;
}
