name: Run Scraper

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run scraper
      run: |
        python -m scrapers.super_scraper

    - name: Commit data
      run: |
        git config user.email "bot@github.com"
        git config user.name "github-bot"
        git add data/businesses.json
        git commit -m "Update data" || echo "No changes"

    - name: Push changes
      run: |
        git push
